<form>
    
    <div class="form-group">
      <label>Email</label>
      <input #email type="email" class="form-control" placeholder="email@domain.com">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input #password type="password" class="form-control" placeholder="Your password">
    </div>

    <button class="btn btn-default" (click)="loginUser(email.value, password.value)" type="button">Login</button>
</form>
  