/* You can add global styles to this file, and also import other style files */


.notifications-container {
	position: fixed;
	z-index: 101;
	right: 100px;
	bottom: 20px;
	width: 400px;
	
}

@media (max-width: 770px ) {
	
	.notifications-container {
		width: 100%;	
		top:0;		
		right: 0;
		bottom: auto;
		text-align: center;
	}

}