<div class="header">

  <div class="titleInfo">

    <inline-edit #titleComp id="title" [value]="note.getTitle()" (save)="updateNote()" (change)="$event.target = 'title'; handleNoteChange($event)"  ></inline-edit>

    <div *ngIf="note.getTags().length > 0">
      
      <div *ngFor="let tag of note.getTags()" class="tag">
        #{{tag}}
      </div>

    </div>
  
  </div>

  <div class="add-button">
      <span class="glyphicon glyphicon-plus" (click)="invite=!invite"></span>
  </div>

  <div class="owners-list">
    <div class="owner" *ngFor="let owner of noteOwners">
      <span *ngIf="owner.getEmail() === currentUserEmail">
        You
      </span>
      <span *ngIf=" owner.getEmail() !== currentUserEmail ">
        {{owner.getUsername()}}    
      </span>      
    </div>
  </div>

</div>

<form *ngIf="invite" class="form-inline">
    <div class="form-group">
      <input #invited class="form-control" placeholder="User email..." autofocus>
    </div>
    <button class="btn btn-default" (click)="requestInvitation(invited.value)">Send invitation</button>
</form>

<app-textarea #contentComp [content] ="note.getContent()" (save)="updateNote()" (change)="$event.target = 'content'; handleNoteChange($event)" ></app-textarea>
