.header{
    width: 100%;
    height: 70px;
    background-color: #3DA1BF;
}

.titleInfo {
    padding-top: 15px;
    margin-left: 20px;
}

.titleInfo #title{
    color: white;
    font-size: 16px;
}

.tag {
    float: left;
    background-color: #4AC2E5;
    border-radius: 10%;
    margin-right: 4px;
    color: white;
    font-size: 13px;
    margin-top: 5px;
    padding: 2px;
}

.owners-list{
    float: right;
    width:50%;
}

.owner {
    color: white;
    padding: 3px;
    border-radius: 10%;
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    margin-right: 4px;
    width: fit-content;
    float: right;
    
}

.add-button{
    float:right;
    color: white;
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 20%;
}