<button type="button" class="btn btn-info" (click)="addEmptyNote()" id="add-note-btn" >New note</button><br/>
<notes-list class="note-list" (show)="showEditableNote($event)" ></notes-list>

<note-edit *ngIf="currentNote" [note]="currentNote" class="note-editor col-xs-5"></note-edit>
<invitations class="invitations-list col-xs-3"></invitations>
