<form>
  
  <div class="form-group">
    <label>First Name</label>
    <input name = "firstName" class="form-control" [(ngModel)] = "firstName">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input name = "lastName" class="form-control" [(ngModel)] = "lastName">
  </div>

  <div class="form-group">
    <label>Username</label>
    <input name = "username" [(ngModel)] = "username" class="form-control">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" name = "email" [(ngModel)] = "email" class="form-control" placeholder="email@domain.com">
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" name = "password" [(ngModel)] = "password" class="form-control">
  </div>

  <div class="form-group">
    <label>Password confirmation</label>
    <input type="password" name = "passwordConf" [(ngModel)] = "passwordConf" class="form-control">
  </div>

  <button class="btn btn-default" (click)="createAccount()" type="button">Sign Up</button>

</form>
