.note-button{
    width: 100%;
    height: 40px;
}

.note-separator{
    width: 100%;
    height: 1px;
    background-color: #B8BFC4;
}

#note-title {
    float:left;
    font-size: 15px;
    padding:10px;
    width: 80%;
}

.note-close{
    margin-top: 8px;
    margin-right: 8px;
}