<div class="note-button">
  
  <div id="note-title" (click) = "emitSelectedEvent()">
      {{note.getTitle()}}
  </div>

  <button type="button" class="close note-close" aria-label="Close" (click)="deleteNote()" >
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="note-separator"></div>
