<div >
  <div *ngFor="let notification of notifications">
      
      <div *ngIf="isSuccessNotification( notification )" class="alert alert-success alert-dismissable" style="margin-bottom: 5px">
              <label class="close" aria-label="close" (click) = "deleteNotification(notification)" >&times;</label>
              {{notification.getMessage()}}
      </div>  
      <div *ngIf="isErrorNotification( notification )" class="alert alert-danger alert-dismissable" style="margin-bottom: 5px">
              <label class="close" aria-label="close" (click) = "deleteNotification(notification)" >&times;</label>
              {{notification.getMessage()}}
      </div>
      
  </div>
</div>