.invitations-list{
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.button {
    display:inline-block;
    width: 49%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.button:hover{
    background-color: #DCDEE1;
}

#decline:hover {
    color: red;
}

#accept:hover {
    color: green;
}