<a class="list-group-item active">
    <h4 class="list-group-item-heading">Invitations     <span class="badge">{{invitations.length}}</span></h4>
  </a>

<div class="list-group invitations-list" >
  
  <a *ngFor="let invitation of invitations" class="list-group-item">
    <h4 class="list-group-item-heading">{{invitation.getNoteTitle()}}</h4>
    <p class="list-group-item-text">{{invitation.getHost()}} invited you to contribute to his '{{invitation.getNoteTitle()}}' note.</p>
  
    <div class="invitation-buttons">
    
      <div class="button" id="decline" (click)="declineInvitation(invitation)">
        <span class="icon glyphicon glyphicon-remove"></span>
      </div>
      <div class="button" id="accept" (click)="getOwnership(invitation)">
        <span class="icon glyphicon glyphicon-ok"></span>
      </div>
    
    </div>

  </a>
</div>